@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    min-width: 600px;
}

body {
    margin: 0;
    font-family: "JetBrains Mono" , Arial, Helvetica, sans-serif;
}

#content {
    display: grid;
    grid-template: 90% 10% / 20% 80%;
    grid-template-rows: minmax(400px, 100vh);
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: gray;
}

#sidebar > * {
    padding: 5%;
}

#logo-div {
    display: flex;
    column-gap: 5%;
    background-color: #909090;
    align-items: center;
}

#projects-div {
    border-bottom: 2px black dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects-list {
    padding: 0;
    margin-left: -2.5%;
    width: 100%;
}

.project {
    width: 100%;
    border-radius: 50px;
    background-color: #b9b9b9;
    padding: 2% 0;
    text-align: center;
    transition: 0.25s;
    margin: 4% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project:hover {
    font-weight: 700;
    background-color: #aaadc4;
}

.project > * {
    margin: 0 5%;
    transition: 0.1s;
}

.project > p:last-child:hover {
    color: red;
    font-size: 1.1rem;
}

#add-form-main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#add-form {
    padding: 3%;
    border-radius: 50px;
    margin: 3%;
    text-align: center;
}

#add-project {
    width: 18vw;
    height: 5vh;
    font-size: 1.25rem;
}

#footer {
    display: flex;
    width: 100vw;
    grid-column:  2 span;
    background-color: black;
}

#credits {
    color: white;
    margin-left: 2%;
}

.hidden {
    display: none !important;
}